src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:dynamodb="http://www.mulesoft.org/schema/mule/dynamodb"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.mulesoft.org/schema/mule/dynamodb http://www.mulesoft.org/schema/mule/dynamodb/1.0-SNAPSHOT/mule-dynamodb.xsd">


    <!-- Read the properties for these tests -->
    <context:property-placeholder ignore-resource-not-found="false"
                                  ignore-unresolvable="false"
                                  location="classpath:test.properties"/>


    <!-- see com.amazonaws.regions.Regions for the enumerated region names -->
    <dynamodb:config region="US_WEST_1"
                     accessKey="insert_your_key_here"
                     secretKey="insert_your_key_here>"/>


    <flow name="Should_Create_Table">
        <dynamodb:create-table tableName="${testTableName}"
                               readCapacityUnits="1" writeCapacityUnits="1"
                               primaryKeyName="num"
                               waitFor="10"/>
    </flow>

    <flow name="Should_Save_Document">
        <dynamodb:save-document tableName="${testTableName}"
                                document-ref="#[payload]"/>
    </flow>

</mule>
